<?xml version="1.0"?>
<robot name="tiago" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--Import the original Fetch -->
  <xacro:include filename="$(find tiago_description)/robots/tiago.urdf.xacro"/>

  <!-- TCP link-->
  <link name="tcp_link" />
  <joint name="tcp_joint" type="fixed">
      <origin rpy="0 1.5708 0" xyz="0.17 0 0"/>
      <parent link="arm_tool_link"/>
      <child link="tcp_link"/>
  </joint>

</robot>
