<?xml version="1.0"?>
<launch>

  <arg name="rviz" default="true"/>
  
  <!-- Urdf, robot_publisher, joint_state_publisher -->
  <include file="$(find robots_config)/launch/fetch/fetch_config.launch">
    <arg name="rviz" value="false"/>
  </include>  


  <!-- Moveit stuff -->
  <include file="$(find robots_config)/launch/fetch/fetch_moveit.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robots_config)/rviz/fetch.rviz" output="screen" if="$(arg rviz)"/>
  
</launch>
