<?xml version="1.0"?>
<robot name="fetch" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--Import the original Fetch -->
  <xacro:include filename="$(find fetch_description)/robots/fetch.urdf"/>

  <!-- TCP link-->
  <link name="tcp_link" />
  <joint name="tcp_joint" type="fixed">
      <origin rpy="1.5708 0 1.5708" xyz="0 0 0"/>
      <parent link="gripper_link"/>
      <child link="tcp_link"/>
  </joint>

</robot>
